# HW 2 - Starter Code

First, be sure the sqlite file (found here: https://github.com/jknecht/baseball-archive-sqlite/raw/master/lahman2014.sqlite) is in the same folder as your code. 

The database contains many tables / relations, but we will be mainly using 2 relations: Salaries and Teams. The schema (description of the fields in the tables) are given below. Not all columns/fields are relevant for this homework, and we will pointout relevant fields as we walk through the assignement. 

Salaries table
---------------
- yearID         Year
- teamID         Team
- lgID           League
- playerID       Player ID code
- salary         Salary


Teams Table
-----------
- yearID         Year
- lgID           League
- teamID         Team
- franchID       Franchise (links to TeamsFranchise table)
- divID          Team's division
- Rank           Position in final standings
- G              Games played
- GHome          Games played at home
- W              Wins
- L              Losses
- DivWin         Division Winner (Y or N)
- WCWin          Wild Card Winner (Y or N)
- LgWin          League Champion(Y or N)
- WSWin          World Series Winner (Y or N)
- R              Runs scored
- AB             At bats
- H              Hits by batters
- 2B             Doubles
- 3B             Triples
- HR             Homeruns by batters
- BB             Walks by batters
- SO             Strikeouts by batters
- SB             Stolen bases
- CS             Caught stealing
- HBP            Batters hit by pitch
- SF             Sacrifice flies
- RA             Opponents runs scored
- ER             Earned runs allowed
- ERA            Earned run average
- CG             Complete games
- SHO            Shutouts
- SV             Saves
- IPOuts         Outs Pitched (innings pitched x 3)
- HA             Hits allowed
- HRA            Homeruns allowed
- BBA            Walks allowed
- SOA            Strikeouts by pitchers
- E              Errors
- DP             Double Plays
- FP             Fielding  percentage
- name           Team's full name
- park           Name of team's home ballpark
- attendance     Home attendance total
- BPF            Three-year park factor for batters
- PPF            Three-year park factor for pitchers
- teamIDBR       Team ID used by Baseball Reference website
- teamIDlahman45 Team ID used in Lahman database version 4.5
- teamIDretro    Team ID used by Retrosheet

In [21]:
import sqlite3
import pandas

sqlite_file = 'lahman2014.sqlite'
conn = sqlite3.connect(sqlite_file)  # connect to database and ingest the tables 

# lets run a query to look at the data
salary_query = "SELECT yearID, sum(salary) as total_payroll FROM Salaries WHERE lgID == 'AL' GROUP BY yearID"

team_salaries = pandas.read_sql(salary_query, conn)
team_salaries.head()

   yearID  total_payroll
0    1985    134401120.0
1    1986    157716444.0
2    1987    136088747.0
3    1988    157049812.0
4    1989    188771688.0

## Analysis

We want to understand how efficient teams have been historically at spending money and getting wins in return. In the case of Moneyball, one would expect that Oakland was not much more efficient than other teams in their spending before 2000, were much more efficient (they made a movie about it after all) between 2000 and 2005, and by then other teams may have caught up. Lets see how this is reflected in the data we have.

### Relation Creation

Using SQL compute a new relation that contains a subset of fields of interest to help us compute further statisitcs of interest.  We neeed to think about the type of join used as it determines how missing data is handled. In the code below, a SQL statment is executed to create the new relation jusing a join between the two tables;

In [22]:
createTable_query = "CREATE TABLE statsTbl AS SELECT \
Salaries.yearID, Teams.teamID, Teams.name, Salaries.salary, Teams.G, Teams.W, Teams.L \
FROM Salaries  \
JOIN Teams \
ON Salaries.yearID=Teams.yearID AND Salaries.teamID=Teams.teamID \
WHERE Salaries.lgID=='AL' ;"

cursor = conn.cursor()
cursor.execute(createTable_query)
conn.commit()

# if you run this mulitple times, you may see an error stating "statsTbl already exists". This error message can be ignored.

OperationalError: table statsTbl already exists

In [4]:
query = "select * from statsTbl;"

result = pandas.read_sql(query, conn)
result.head()


# As you can see, it generates a new table/relation which contains 7 fields:
# yearID
# teamID
# name
# salary
# G --> denotes the number of games
# W --> denotes the number of wins
# L --> denotes the number of losses

    yearID teamID               name     salary    G   W    L
0     1985    BAL  Baltimore Orioles   625000.0  161  83   78
1     1985    BAL  Baltimore Orioles   480000.0  161  83   78
2     1985    BAL  Baltimore Orioles   437500.0  161  83   78
3     1985    BAL  Baltimore Orioles   512500.0  161  83   78
4     1985    BAL  Baltimore Orioles   375000.0  161  83   78
5     1985    BAL  Baltimore Orioles   641667.0  161  83   78
6     1985    BAL  Baltimore Orioles   450000.0  161  83   78
7     1985    BAL  Baltimore Orioles   483333.0  161  83   78
8     1985    BAL  Baltimore Orioles   725000.0  161  83   78
9     1985    BAL  Baltimore Orioles  1090000.0  161  83   78
10    1985    BAL  Baltimore Orioles   560000.0  161  83   78
11    1985    BAL  Baltimore Orioles   440000.0  161  83   78
12    1985    BAL  Baltimore Orioles   547143.0  161  83   78
13    1985    BAL  Baltimore Orioles  1472819.0  161  83   78
14    1985    BAL  Baltimore Orioles   341667.0  161  83   78
15    1985    BAL  Baltimore Orioles   128500.0  161  83   78
16    1985    BAL  Baltimore Orioles   800000.0  161  83   78
17    1985    BAL  Baltimore Orioles   558333.0  161  83   78
18    1985    BAL  Baltimore Orioles    60000.0  161  83   78
19    1985    BAL  Baltimore Orioles   130000.0  161  83   78
20    1985    BAL  Baltimore Orioles   581250.0  161  83   78
21    1985    BAL  Baltimore Orioles   121000.0  161  83   78
22    1985    BOS     Boston Red Sox   915000.0  163  81   81
23    1985    BOS     Boston Red Sox   272500.0  163  81   81
24    1985    BOS     Boston Red Sox  1000000.0  163  81   81
25    1985    BOS     Boston Red Sox   115000.0  163  81   81
26    1985    BOS     Boston Red Sox   177500.0  163  81   81
27    1985    BOS     Boston Red Sox   747500.0  163  81   81
28    1985    BOS     Boston Red Sox   580000.0  163  81   81
29    1985    BOS     Boston Red Sox   140000.0  163  81   81
..     ...    ...                ...        ...  ...  ..  ...
70    1985    CAL  California Angels   437500.0  162  90   72
71    1985    CAL  California Angels   750000.0  162  90   72
72    1985    CAL  California Angels   266667.0  162  90   72
73    1985    CAL  California Angels   683333.0  162  90   72
74    1985    CAL  California Angels   550000.0  162  90   72
75    1985    CHA  Chicago White Sox   147500.0  163  85   77
76    1985    CHA  Chicago White Sox   675000.0  163  85   77
77    1985    CHA  Chicago White Sox   811250.0  163  85   77
78    1985    CHA  Chicago White Sox   727500.0  163  85   77
79    1985    CHA  Chicago White Sox  1242333.0  163  85   77
80    1985    CHA  Chicago White Sox   900000.0  163  85   77
81    1985    CHA  Chicago White Sox   685000.0  163  85   77
82    1985    CHA  Chicago White Sox   165000.0  163  85   77
83    1985    CHA  Chicago White Sox    60000.0  163  85   77
84    1985    CHA  Chicago White Sox   150000.0  163  85   77
85    1985    CHA  Chicago White Sox   200000.0  163  85   77
86    1985    CHA  Chicago White Sox   265000.0  163  85   77
87    1985    CHA  Chicago White Sox   300000.0  163  85   77
88    1985    CHA  Chicago White Sox   565000.0  163  85   77
89    1985    CHA  Chicago White Sox   463000.0  163  85   77
90    1985    CHA  Chicago White Sox   110000.0  163  85   77
91    1985    CHA  Chicago White Sox   333333.0  163  85   77
92    1985    CHA  Chicago White Sox   325000.0  163  85   77
93    1985    CHA  Chicago White Sox  1136262.0  163  85   77
94    1985    CHA  Chicago White Sox   390000.0  163  85   77
95    1985    CHA  Chicago White Sox   195000.0  163  85   77
96    1985    CLE  Cleveland Indians   303333.0  162  60  102
97    1985    CLE  Cleveland Indians   225000.0  162  60  102
98    1985    CLE  Cleveland Indians   400000.0  162  60  102
99    1985    CLE  Cleveland Indians   650000.0  162  60  102

[100 rows x 7 columns]

Suppose we want to print the rows / entries for Oakland between 1988 - 1989. Hint: need to use a WHERE clause in the SQL query to filter out rows only for teamID="OAK"

In [24]:
query = "SELECT * FROM statsTbl WHERE teamID='OAK' AND yearID>=1988 AND yearID<=1989;"

result = pandas.read_sql(query, conn)
result.head()

   yearID teamID               name    salary    G    W   L
0    1988    OAK  Oakland Athletics  495000.0  162  104  58
1    1988    OAK  Oakland Athletics  325000.0  162  104  58
2    1988    OAK  Oakland Athletics  550000.0  162  104  58
3    1988    OAK  Oakland Athletics  650000.0  162  104  58
4    1988    OAK  Oakland Athletics  100000.0  162  104  58

Suppose we want to print the year for which Oakland had the largest number of wins. Lets write that SQL query.

In [25]:
query = "SELECT yearID, max(W) from statsTbl WHERE teamID='OAK';"

result = pandas.read_sql(query, conn)
result.head()

   yearID  max(W)
0    1988     104

Suppose we want to compute the total payroll for teamID='OAK' for the yearID='1988'. To do this, we must sum-up all the salaries for a given team for a given year.

In [43]:
query = "SELECT teamID, yearID, SUM(salary) AS TotalSalary  \
FROM statsTbl  \
WHERE yearID='1988' AND teamID='OAK' \
GROUP BY teamID,yearID;"

result = pandas.read_sql(query, conn)
result.head()

  teamID  yearID  TotalSalary
0    OAK    1988    9690000.0

## Problem 1 

Using SQL, compute the result containing the total payroll and winning percentage (number of wins / number of games * 100) for each team (that is, for each teamID and yearID combination). 

Hint: Be sure to perform a groupby on the fields teamID and yearID

## Problem 2

Write code to printout the teamID that had the highest WinningPercentage over total sepending (salaries).

## Problem 3

Write code to produce plots that illustrate the team's total spending (salaries) conditioned on time (from 1990-2014), specifically for teamID='OAK'.

## Problem 4

Write code to discretize year into five time periods (you can use pandas.cut to accomplish this) and then make a scatterplot showing mean winning percentage (y-axis) vs. mean payroll (x-axis) for each of the five time periods.

What can you say about team payrolls across these periods? Are there any teams that standout as being particularly good at paying for wins across these time periods? What can you say about the Oakland A’s spending efficiency across these time periods (labeling points in the scatterplot can help interpretation).