# Data Science HW #5

Jason Barbarosh

## Import Libraries

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

## Import the data

In [5]:
df = pd.read_csv("PSID.txt", sep="\t")
df.head()

,ER60001,ER60002,ER60017,ER60018,ER60167,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
0,1,8474,57,2,5,4,0,5,1,60704,11
1,1,1428,41,2,5,3,0,5,1,45084,12
2,1,4738,39,1,0,2,0,1,1,52000,10
3,1,6780,38,1,0,4,0,5,1,35000,13
4,1,7304,34,1,5,4,0,1,1,31560,11