# Data Science HW #5

Jason Barbarosh

## Import Libraries

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

## Import the data

In [38]:
df = pd.read_csv("PSID.txt", sep="\t")
df.head()
# ER60001 RELEASE NUMBER
# ER60002 2015 FAMILY INTERVIEW (ID) NUMBER
# ER60017 AGE OF HEAD
# ER60018 SEX OF HEAD
# ER60167 BC3 WTR WORK FOR MONEY
# ER62366 H1 HEALTH STATUS-HEAD
# ER62506 H25H HEALTH STATUS B4 AGE 17--HD H61D2
# ER64612 H61K WTR ANY FU MEMBER W/O INSURANCE
# ER64810 L40 RACE OF HEAD-MENTION 1
# ER65349 TOTAL FAMILY INCOME-2014
# ER65459 COMPLETED ED-HD

,ER60001,ER60002,ER60017,ER60018,ER60167,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
0,1,8474,57,2,5,4,0,5,1,60704,11
1,1,1428,41,2,5,3,0,5,1,45084,12
2,1,4738,39,1,0,2,0,1,1,52000,10
3,1,6780,38,1,0,4,0,5,1,35000,13
4,1,7304,34,1,5,4,0,1,1,31560,11

In [39]:
df.describe()

,ER60001,ER60002,ER60017,ER60018,ER60167,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
count,9048.0,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9048.000000,9.048000e+03,9048.000000
mean,1.0,4534.549072,45.654730,1.329244,1.408378,2.554377,0.264920,4.106764,1.692418,6.954035e+04,14.570955
std,0.0,2620.837601,16.528586,0.469965,2.241426,1.086979,0.889743,1.701723,1.316793,9.456179e+04,10.308990
min,1.0,1.000000,17.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,-2.200000e+04,0.000000
25%,1.0,2263.750000,32.000000,1.000000,0.000000,2.000000,0.000000,5.000000,1.000000,2.400000e+04,12.000000
50%,1.0,4531.500000,43.000000,1.000000,0.000000,2.000000,0.000000,5.000000,1.000000,4.931250e+04,13.000000
75%,1.0,6803.250000,58.000000,2.000000,5.000000,3.000000,0.000000,5.000000,2.000000,9.021125e+04,16.000000
max,1.0,9080.000000,102.000000,2.000000,9.000000,9.000000,9.000000,9.000000,9.000000,5.250100e+06,99.000000

Records which contain a feature code that denote ‘missing’ or ‘refused to answer’ should be dropped from the dataset. Categorical features should be transformed to discrete values, and features should be normalized. Once this step is complete, we should apply logistic regression model. In this homework, please spend some time on analysis and discussion . If its easier, you can submit your discussion as a separate .txt, .pdf or word document rather than including the discussion in the .ipython code.

To begin, you’ll need to clean the data set: (1) remove observations in which the respondent
did not know the answer, refused to answer, or skipped the question, (2) if the variable is
binary, specify it as 0 or 1, (3) if the variable is ordered or categorical, discretize the variable
by creating indicator variables for each category, (4) transform large numbers to make them
usable

## Clean the data

In [40]:
# Clean ER60017
df = df[df.ER60017 != 999]

#Clean ER60018
l = 


df.head()

,ER60001,ER60002,ER60017,ER60018,ER60167,ER62366,ER62506,ER64612,ER64810,ER65349,ER65459
0,1,8474,57,2,5,4,0,5,1,60704,11
1,1,1428,41,2,5,3,0,5,1,45084,12
2,1,4738,39,1,0,2,0,1,1,52000,10
3,1,6780,38,1,0,4,0,5,1,35000,13
4,1,7304,34,1,5,4,0,1,1,31560,11