# Data Science Assignment #3

## Background
This assignment investigates bank stock prices. The dataset online Bank-StocksMerged.txt
provides stock prices for a sample of banks. Some of the banks in the
sample go back to 1900 and others are more recent (up to 2017). The data include
the date the stock price was recorded, the bankâ€™s stock ticker, OHLC (open, high, low,
close) prices, and volume. Note that the historical data points (typically before 1975)
record monthly, whereas after the data points are daily.

# 1) Import libraries

In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

# 2) Import the Data

In [2]:
df = pd.read_csv('bank-stocks-merged.csv')
df = df.rename(columns={'?Date': 'Date'})
df.head()

      Date Ticker      Open      High       Low     Close       Volume
0  5/19/94   ABCB  5.064261  5.368117  5.064261  5.266831  1347.679366
1  5/20/94   ABCB  5.165546  5.368117  5.064261  5.266831   545.489267
2  5/23/94   ABCB  5.266831  5.266831  5.064261  5.064261   167.842851
3  5/24/94   ABCB  5.266831  5.266831  5.064261  5.064261    78.984871
4  5/25/94   ABCB  5.165546  5.165546  5.064261  5.064261   135.755247

In [3]:
df.describe()

,Open,High,Low,Close,Volume
count,653006.000000,653006.000000,653006.000000,653006.000000,6.530060e+05
mean,55.259570,58.959899,54.972648,55.267934,3.036887e+03
std,321.545042,511.748469,321.206919,321.531949,8.382849e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,7.200000,7.333333,7.063953,7.200000,0.000000e+00
50%,14.625000,14.876033,14.500000,14.630431,1.000000e+01
75%,25.190000,25.340000,25.060000,25.200000,1.448163e+02
max,7500.000000,50000.000000,7500.000000,7500.000000,1.226600e+07

# 3) Plot Returns

Suppose this sample of firms is an index. Filter the sample to observations that
record daily data from 2000-present. Calculate average daily returns for banks
during that period. (Hint: first compute daily returns using the closing price
for each bank, then take the average for that day).

In [49]:
df.query

      Date Ticker      Open      High       Low     Close       Volume
0  5/19/94   ABCB  5.064261  5.368117  5.064261  5.266831  1347.679366
1  5/20/94   ABCB  5.165546  5.368117  5.064261  5.266831   545.489267
2  5/23/94   ABCB  5.266831  5.266831  5.064261  5.064261   167.842851
3  5/24/94   ABCB  5.266831  5.266831  5.064261  5.064261    78.984871
4  5/25/94   ABCB  5.165546  5.165546  5.064261  5.064261   135.755247

In [ ]:
df["Daily Return"] = df["Close"] - df["Open"]

# 4) More Plotting
Suppose you are interested in the historical data. Since these data are monthly,
calculate average monthly returns for banks from 1940-present. (Hint: use
closing prices at the end of each month). Plot the returns